services:
  api:
    build:
      context: .                           
      dockerfile: apps/doramar-api/Dockerfile     
    container_name: doramar-api
    ports:
      - "${API_PORT}:${API_PORT}"  
    env_file:
      - .env  
  front:
    build:
      context: .                     
      dockerfile: apps/doramar-web/Dockerfile    
    container_name: doramar-web
    ports:
      - "${FRONT_PORT}:${FRONT_PORT}"
    depends_on:
      - api
    env_file:                           
      - .env
    environment:
      - NEXT_PUBLIC_API_URL=${API_URL}     